{%extends 'base/list2.html' %}
{%load static%}

{%block search_collapse%}
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" method="post">
            {% csrf_token %}
            <div class="title-box-d">
                <h3 class="title-d">Search offers in cart</h3>
            </div>
            <table>
                <br>
                {{filter.form.as_table}}
                <br>
            </table>
            <div class="title-box-d">
                <h3 class="title-d">Order offers in cart</h3>
            </div>
            <table>
                {{ order.as_table }}
            </table>
            <input type="submit" value="Update and Export Data" name="export" class="col-md-12">
            <button class="btn btn-secondary col-md-12" type="submit">Update</button>
        </form>
    </div>

</div>
<!--/ Form Search End /-->
{%endblock search_collapse%}

{%block search%}
<button type="button" class="btn navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
    data-target="#navbarTogglerDemo01" aria-expanded="false">
    <span class="fa fa-search" aria-hidden="false"></span>
</button>
{%endblock search%}

{%block url%}
<a href="{%url 'offer:offer_view' object.Offer.id%}">{{object.Offer.Offer_name}}</a>
{%endblock url%}

{%block cart%}
{%ifequal object.Store.Owner.id user.id%}
<a href="{% url 'cart:cart_create' object.id %}" class=" card-header center">
    <img src="{%static 'img/cart.png' %}" class=" shopping_cart">
</a>
{%endifequal%}
{%endblock cart%}

{%block add_features%}
<div class="card-size-font">
    <a> Price:{{ object.Offer.Price }}</a>
    <a>Store: {{ object.Offer.Store.Name }}</a>
    <a>Amount: {{ object.Amount }}</a>
    <div class="btn-group top" style="justify-content: center; align-items: center;">
        <a class="btn btn-outline-success" href="{% url 'cart:cart_update' object.id %}">Update</a>
        <a class="btn btn-outline-dark" href="{% url 'cart:cart_delete' object.id %}"">Remove</a>
    </div>
</div>
{%endblock add_features%}

{%block else%}
<h1>No offers in shopping cart.</h1>
{%endblock else%}

{%block add_button%}
{%endblock add_button%}

{% if object_list %}
<form action="{% url 'buy:buy_cart' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Buy Cart</button>
</form>
{% endif %}

    

