{% extends "base/list.html" %} 
{% load static %}
{% block header %}
<h1>Shopping Cart List</h1>
{% endblock header %} 

{% block table_head %}
<th>Offer</th>
<th>Price</th>
<th>Store</th>
<th>Amount</th>
{% endblock table_head %}

{% block table_row %}

<td>
    <a href="{% url 'offer:offer_view' object.Offer.id %}"> {{ object.Offer.Offer_name }} </a>
</td>
<td>{{ object.Offer.Price }}</td>
<td>{{ object.Offer.Store.Name }}</td>
<td>{{ object.Amount }}</td>
<td>
    <a class="btn btn-danger" href="{% url 'cart:cart_delete' object.id %}"> Remove </a>
</td>
<td>
    <a class="btn btn-primary" href="{% url 'cart:cart_update' object.id %}"> Update </a>
</td>
<!-- sep -->
{% endblock table_row %}
{% block else_message %}
<h1>No Offers in cart</h1>
{% endblock else_message %}
{% block extra_body %}

{% if object_list %}
    <form action="{% url 'buy:buy_cart' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" >Buy Cart</button>
    </form>
{% endif %}
    

{% endblock extra_body %}
{% block order_filter_forms %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock order_filter_forms %}
