{% extends 'base/base.html' %} 

{% block body %}
{% if object_list %}
<div class ="container">

    
    <table class="table table-bordered">
        <thead>
            <tr>
                {% block table_head %} 
                {% endblock %}
            </tr>
            <tbody>
            </thead>
            {% for object in object_list %}
            <tr>
                {% block table_row %} 
                {% endblock %}
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
{% block paginator %}
{% if page_obj.has_previous %}
    <a class="btn btn-danger" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %} 
    {% if page_obj.has_next %}
    <a class="btn btn-danger" href="?page={{ page_obj.next_page_number }}">Next</a> 
    {% endif %}
    {% endblock paginator %}    
    {% else %} 
    {% block else_message %} 
    {% endblock %}
    {% endif %}
{% block extra_body %}
{%block btn_add%}
{%endblock btn_add%}

{% endblock extra_body %}

{% if object_list %}
    <form action="" method="POST">
    {% csrf_token %}
    {% block tag_filter_form %}
    <!-- sep -->
    {% endblock tag_filter_form %}
    {% block order_filter_forms %}
    
    {% endblock order_filter_forms %}
    </div>
    </form>
{% endif %}
    
{% endblock body %}