{% extends 'base/base.html' %}
{%load static %}
{%block header%}
{%endblock header%}

{% block body %}
{% if object_list %}
<div class="row prod">
    {% for object in object_list %}
    <div class="col-lg-2 col-md-6 mb-4">
        <div class="card h-100">
            {%if not object.Images.all%}
            <a><img class="card-img-top" src="{% static 'img/not_found.jpg' %}" alt=""></a>
            {%else%}

            {%endif%}
            <!-- {%if object.Images%}
                        {%else%}
                        {%endif%} -->
            <div class="card-body">
                <h6 class="card-title">
                    {%block url %}
                    <a href="{% url 'product:product_view' object.id %}">{{object.Name}}</a>
                    {%endblock url%}
                </h6>
                {%if object.Tags%}
                <h6>{{object.Tags}}</h6>
                {%endif%}
                <a href="{% url 'cart:cart_create' object.id %}" class="btn btn-primary">Add to cart</a>
            </div>
            {%block add_features%}
            {%endblock%}
            <!-- <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div> -->

        </div>
    </div>
    {%endfor%}
</div>
{%else%}
{%block else%}
{%endblock else%}

{%endif%}
{% endblock body %}