{%extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{%block init_section%}
{%endblock init_section %}

{% block body %}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    {%block first%}
                        <h1 class="title-single">{{ user.username }}</h1>
                        <span class="color-text-a">{{ user.first_name }} {{user.last_name}} </span>
                    {%endblock first%}
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            {% block images %}
                            {% if user.myuser.Images.all %}
                            <img src="{% static user.myuser.Images.all.first.Image.url %}" class="agent-avatar img-fluid" alt="Imagen">
                            {% else %}
                            <h1>No images</h1>
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'other:image_create' %}">Add image</a>
                            <a class="btn btn-primary" href="{% url 'other:image_list' %}">See images</a>
                            {%endblock images%}
                        </div>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    {%block init%}
                                        <h3 class="title-d">{{user.username}} </h3>
                                    {%endblock init%}
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">
                                    {%block descripcion%}
                                        {{user.myuser.Description}}
                                    {%endblock descripcion%}
                                </p>
                                <div class="info-agents color-a">
                                    {%block features%}
                                        <p>
                                            <strong>Phone: </strong>
                                            <span class="color-text-a"> {{user.myuser.Phone}} </span>
                                        </p>
                                        <p>
                                            <strong>Email: </strong>
                                            <span class="color-text-a"> {{user.email}}</span>
                                        </p>
                                        <p>
                                            <a href="{% url 'buy:bankaccount_list'%}"><strong>Accounts: </strong></a>
                                            {% if accounts %}
                                            {% for tag in accounts %}
                                            <span class="color-text-a">{{ tag }}</span>
                                            {% endfor %}
                                            {% else %}
                                            <span class="color-text-a">No accounts</span>
                                            {% endif %}
                                        </p>
                                    {%endblock features%}
                                </div>
                                {% block button%}
                                <div class = "btn-group">
                                    <a class="btn btn-outline-success" href="{% url 'cubasells:user_update' user.id %}">Update</a>
                                    <a class="btn btn-outline-dark" href="{% url 'cubasells:user_delete' user.id %}">Delete</a>
                                </div>
                                {% endblock button%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%block add%}
        {%endblock add%}
    </div>
</section>

{% endblock body %}