{% extends "base/base.html" %} {% block header %}
<h1>Offer Create</h1>
{% endblock header %} {% block body %}
<h1>Offer Create Body</h1>

<form method="post">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %} {% csrf_token %} {{form.as_p}}
    <button type="submit">Guardar</button> {% if view.kwargs.store_id %}
</form>
<a href="{% url 'cubasells:store_suboffer_create' view.kwargs.store_id %}" target="_blank">Add suboffer to store</a> {% else %}
<p>No store pointed in the url</p>
{% endif %} {% endblock body %}