{% extends "base/list.html" %} 
{% block header %}
<h1>Offer List</h1>
{% endblock header %} 
{% block table_head %}
<td>Name</td>
<td>Description</td>
<td>Price</td>
<td>Store</td>
<td></td>
{% endblock table_head %}
{% block table_row %}
<td>{{object.Offer_name}}</td>
<td>{{object.Offer_description}}</td>
<td>{{object.Price}}</td>
<td>
    <a href="{% url 'store:store_view' object.Store.id %}">{{object.Store.Name}}</a>
</td>
<td>
    <a href="{% url 'offer:offer_view' object.id%}">More info</a>
</td>
{% endblock table_row %}
{% block else_message %}
<h1>No Offers</h1>
{% endblock else_message %}
{% block order_filter_forms %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock order_filter_forms %}
