{%extends 'base/list2.html' %}
{%load static%}

{%block url%}
<a href="{%url 'offer:offer_view' object.id%}">{{object.Offer_name}}</a>
{%endblock url%}

{%block cart%}
    {%ifequal object.Store.Owner.id user.id%}
    <a href="{% url 'cart:cart_create' object.id %}" class=" card-header center">
        <img src="{%static 'img/cart.png' %}" class=" shopping_cart">
    </a>
    {%endifequal%}
{%endblock cart%}

{%block add_features%}
<div class = "btn-group top" style= "justify-content: center; align-items: center;">
    
    {% ifequal object.Store.Owner.id user.id %}
        <a class="btn btn-outline-primary" href="{% url 'offer:offer_update' object.id %}">Update</a>
        <a class="btn btn-outline-dark" href="{% url 'offer:offer_delete' object.id %}">Delete</a>
    {% endifequal %}
</div>
{%endblock add_features%}

{%block else%}
<h1>No offers.</h1>
{%endblock else%}

{%block add_button%}
<a class="btn btn-primary" href="{% url 'store:store_offer_create' store_id %}">Create offer</a>
{%endblock add_button%}

{% block filter %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock filter %}