{%extends 'base/list2.html' %}
{%load static%}


{%block btn%}
    {%if store_id%}
        {% ifequal object.Store.id user.Store.id %}
            <div class = "container" style = "margin-left: 150px;">
                <a class="btn large" href="{% url 'store:store_offer_create' store_id %}">Create offer</a>
            </div>
            <br>
        {% endifequal %}
    {%endif%}
{%endblock btn%}

{%block search_collapse%}
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" method="post">
            {% csrf_token %}
            <div class="title-box-d">
                <h3 class="title-d">Search Products</h3>
            </div>
            <table>
                <br>
                {{filter.form.as_table}}
                <br>
            </table>
            <div class="title-box-d">
                <h3 class="title-d">Order Offers</h3>
            </div>
            <table>
                {{ order.as_table }}
            </table>
            <input type="submit" value="Update and Export Data" name="export" class="col-md-12">
            <button class="btn btn-secondary col-md-12" type="submit">Update</button>
        </form>
    </div>

</div>
<!--/ Form Search End /-->
{%endblock search_collapse%}

{%block search%}
<button type="button" class="btn btn-search navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
    data-target="#navbarTogglerDemo01" aria-expanded="false" style = "background-color: white; height: 5px;">
    <span class="fa fa-search"  aria-hidden="false"></span>
</button>
{%endblock search%}

{%block url%}
<a href="{%url 'offer:offer_view' object.id%}">{{object.Offer_name}}</a>
{%endblock url%}

{%block cart%}
    
    <a href="{% url 'cart:cart_create' object.id %}" >
        <img src="{%static 'img/cart.png' %}" class="cart shopping_cart">
    </a>
{%endblock cart%}

{%block add_features%}
<div class = "card-size-font">
    <a> Price:{{object.Price}}</a>
    <br>
    <a>Store: {{object.Store}}</a>
    <div class = "btn-group top" >
        {% ifequal object.Store.Owner.id user.id %}
            <a class="btn btn-outline-success" href="{% url 'offer:offer_update' object.id %}">Update</a>
            <a class="btn btn-outline-dark" href="{% url 'offer:offer_delete' object.id %}">Delete</a>
        {% endifequal %}
        
    </div>
</div>
{%endblock add_features%}

{%block else%}
<h1>No offers.</h1>
{%endblock else%}

{%block add_button%}
{%endblock add_button%}

