{% extends "base/create.html" %}

{% block create_header %}
<h1 class="title-single">Create offer</h1>
{% endblock create_header %}

{% block forms %}
{{form1.as_p}}
{{form2.as_p}}
{{form3.as_p}}
<div class = "btn-group" >
<input type="submit" class = "btn btn-outline-success" value="Add suboffer" name="_add_suboffer">
<input type="submit" class = "btn btn-outline-success" value="Remove suboffer" name="_remove_suboffer">
</div>
<br> 
<br> 
{% if image_form %}
    {{ image_form.as_p }}
{% endif %}
    
{% endblock forms %}

{% block save %}
<div class = "btn-group">
<a href="{% url 'store:store_product_create' store_id %}" target="_blank" class = "btn btn-outline-dark">Add product 
    to store</a>
<a href="{% url 'store:store_suboffer_create' store_id %}" target="_blank" class = "btn btn-outline-dark">Add suboffer
    to store</a>
</div>
<br><br>
<button class="btn large" name="_save_offer" type = 'submit'>Save offer</button>
{% endblock save %}


