{% extends 'base/view.html' %}
{% load static %}

{% block first %}
    <h1 class="title-single">Offer</h1>
{% endblock first %}

{% block images %}

{% if object.Images.all %}
{% for image in object.Images.all %}
    <img src="{% static image.Image.url %}" class="agent-avatar img-fluid" alt="{{image.ImageName}}">
{% endfor %}
{% else %}
<h1>No images</h1>
{% endif %}
{%endblock images%}

{%block init%}
    <h3 class="title-d">{{object.Offer_name}} </h3>
{%endblock init%}

{%block descripcion%}
{{object.Offer_description}}
{%endblock descripcion%}

{%block features%}
<p>
    <strong>Store: </strong>
    <a class="color-text-a" href="{% url 'store:store_view' object.Store.id %}"> {{object.Store.Name}}</a>
    <!-- <span class="color-text-a">{{object.Store.Name}} </span> -->
    <a href="{% url 'cart:cart_create' object.id %}" >
        <img src="{%static 'img/cart.png' %}" class="cart shopping_cart">
    </a>
</p>
<p>
    <strong>Price: </strong>
    <span class="color-text-a"> {{ object.Price }}</span>
</p>
<p>
    <strong>Available: </strong>
    <span class="color-text-a"> {{ object.available }}</span>
</p>
<p> <strong>Products:</strong></p>
<ul>
    {% for pr in object.Suboffer.all %}
    <li>
        <a href="{% url 'product:product_view' pr.Product_offer_id %}">{{pr.Product_offer.Name}}</a>
        <p> Amount: {{pr.Amount}} </p>
    </li>
    {% endfor %}
</ul>
<ul>
    {%if object.Tags.all%}
    <p>
        <strong>Tags:</strong>
    </p>
    {% for tag in object.Tags.all %}
    <li>{{tag.Tag}}</li>
    {% endfor %}
    {%else%}
    {%endif%}
</ul>
{%endblock features%}

{% block button%}
{% ifequal object.Store.Owner.id user.id %}
<div class="btn-group">
    <a class="btn btn-outline-success" href="{% url 'offer:offer_update' object.id %}">Update</a>
    <a class="btn btn-outline-dark" href="{% url 'offer:offer_delete' object.id %}">Delete</a>
</div>
{% endifequal %}

{% endblock button%}