{% extends "base/list.html" %}
{% load static %}
{% block header %}
<h1>Image List</h1>
{% endblock header %} 
{% block table_head %}
<th>Name</th>
<th>Image</th>
<th></th>
{% endblock table_head %}
{% block table_row %}
<td>{{object.Name}}</td>
<!-- "-->
<td><img src="{% static object.Image.url %}" width="150" height="150" alt="{{object.Name}}" ></td>
<td>
    <a href="{% url 'other:image_view' object.id %}">More Info</a>
</td>
{% endblock table_row %}
{% block else_message %}
<h1>No Images</h1>
{% endblock else_message %}
{% block order_filter_forms %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock order_filter_forms %}
