{% extends 'base/view.html' %}
{% load static %}

{% block first %}
<h1 class="title-single">Suboffer</h1>
{% endblock first %}

{% block images %}
    {% if object.Product_offer.all %}
    {% for img in object.Product_offer.Images.all %}
    <li><img src="{% static img.Image.url %}" class="agent-avatar img-fluid" alt="Imagen"></li>
    {% endfor %}
    {% else %}
    <h1>No images</h1>
    {% endif %}
{%endblock images%}

{%block init%}
<h3 class="title-d">{{object.Product_offer.Name}} </h3>
{%endblock init%}

{%block descripcion%}
{%endblock descripcion%}

{%block features%}
<p>
    <strong>Amount subofferted: </strong>
    <span class="color-text-a"> {{object.Amount}}</span>
</p>
{%endblock features%}

{% block button%}
{% ifequal user.id object.Product_offer.Store.Owner.id %}
    <a class="btn btn-outline-success" href="{% url 'suboffer:suboffer_update' object.id %}">Update</a>
    <a class="btn btn-outline-dark" href="{% url 'suboffer:suboffer_delete' object.id %}">Delete</a>
<!-- sep     -->
{% endifequal %}
{% endblock button%}

