{% extends "base/base.html" %} {% block header %}
<h1>Current Suboffer Index</h1>
{% endblock header %} 
{% block body %}
<h1>Current Suboffer Index Body</h1>

<p>SubOfferted: {{object.Product_offer.Name}}</p>

<p>Amount subofferted:  {{object.Amount}}</p>
{% ifequal user.id object.Product_offer.Store.Owner.id %}
<a class="btn-danger" href="{% url 'cubasells:suboffer_delete' object.id %}">Delete</a>
<a class="btn" href="{% url 'cubasells:suboffer_update' object.id %}">Update</a>
<!-- sep     -->
{% endifequal %}
<!-- sep     -->
{% endblock %}