{% extends "base/create.html" %}

{% block create_header %}
<h1 class="title-single">Create auction</h1>

{% if messages %}
<ul>
    {% for msg in messages %}
    <li>
        <p>{{msg}}</p>
    </li>
    {% endfor %}

</ul>
{% endif %}
{% endblock create_header %}


{% block save %}
<!-- <a href="{% url 'store:store_suboffer_create' view.kwargs.store_id %}" target="_blank" class="large">Add suboffer to
    store</a>
<br><br> -->
<button class="btn large" type = "submmit">Save auction</button>
{% endblock save %}