{% extends 'base/view.html' %}
{% load static %}

{% block first %}
    <h1 class="title-single">Auction</h1>
{% endblock first %}

{% block images %}
{% if object.Tags.all %}
{% for img in object.Tags.all %}
    <li><img src="{% static img.Image.url %}" class="agent-avatar img-fluid" alt="Imagen"></li>
{% endfor %}
{% else %}
    <h1>No images</h1>
{% endif %}
{%endblock images%}

{%block init%}
    <h3 class="title-d"> {{object.Offered.Offer_name}}</h3>
{%endblock init%}

{%block descripcion%}
{{object.Offered.Offer_description}}
{%endblock descripcion%}

{%block features%}
<p>
    <strong> Start Date: </strong>
    <span class="color-text-a"> {{object.Initial_Date}}</span>
</p>
<p>
    <strong> End Date: </strong>
    <span class="color-text-a"> {{object.Final_Date}}</span>
</p>
<p>
    <strong> Price: </strong>
    <span class="color-text-a"> {{ object.Money }}</span>
</p>
<p><strong>Products:</strong></p>
<ul>
    {% for pr in object.Offered.Suboffer.all %}
        <li>
            <a href="{% url 'product:product_view' pr.id %}">{{pr.Product_offer.Name}}</a>
            <p> Amount: {{pr.Amount}} </p>
        </li>
    {% endfor %}
</ul>
<ul>
    {%if object.Tags.all%}
    <p>
        <strong>Tags:</strong>
    </p>
    {% for tag in object.Tags.all %}
    <li>{{tag.Tag}}</li>
    {% endfor %}
    {%else%}
    {%endif%}
</ul>

<div class="black">
    {% if object.Winner.MyUser.username %}
    <p> <strong> Winning:</strong> {{ object.Winner.MyUser.username }}</p>
    {% else %}
    <p> <strong> No pushes are made</strong></p>
    {% endif %}


    {% if messages.all %}
    <p> <strong>Messages<strong></strong></p>
    <ul>
        {% for msg in messages %}
        <li>
            <span class="color-text-a"> {{msg}}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if push_form %}
    <p> <strong>You can push here</strong></p>
    <form method="post">
        {% csrf_token %}
        {{ push_form.as_p }}
        <input type="submit" value="Push" class="btn btn-outline-success padding-left" name="_push">
    </form>
    <br>
    {% endif %}
</div>
{%endblock features%}

{% block button%}
{% ifequal object.Offered.Store.Owner.id user.id %}
<div class="btn-group">
    <a class="btn btn-outline-success"  href="{% url 'auction:auction_update' object.id %}">Update</a>
    <a class="btn btn-outline-dark" href="{% url 'auction:auction_delete' object.id %}">Delete</a>
</div>
{% endifequal %}

{% endblock button%}

{%block add%}

{%endblock add%}

