{% extends "base/list.html" %} 
{% load static %}
{% block header %}
<h1>Product List</h1>
{% endblock header %} 
{% block table_head %}
<th>Name</th>
<th>Stored</th>
<th></th>
{% endblock table_head %}
{% block table_row %}
<td>{{object.Name}}</td>
<td>{{object.Store_Amount}}</td>
<td>
    <a class="btn btn-primary" href="{% url 'product:product_view' object.id %}">More info</a>
</td>
{% endblock table_row %}
{% block else_message %}
<h1>No Products</h1>
{% endblock else_message %}
{% block extra_body %}
{% if store_id %}
{% ifequal store.Owner.id user.id %}
<a class="btn btn-primary" href="{% url 'store:store_product_create' store_id %}">Create product</a>
{% endifequal %}
{% endif %}
{% endblock extra_body %}
{% block order_filter_forms %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock order_filter_forms %}
