{% extends 'base/base.html' %} 
{% load static %}
{% block title %}
<h1>Producto:</h1>
{% endblock %} {% block header %}
<h1>Producto:</h1>
{% endblock %} 
{% block body %} 
{% if object %}
<p>Name: {{object.Name}}</p>
<p>Description: {{object.Description}}</p>
<p>Store: <a href="{% url 'store:store_view' object.Store.id %}"> {{object.Store.Name}} </a> </p>
<p>Store amount: {{object.Store_Amount}}</p>
<p>Tags:</p>
<ul>
    {% for tag in object.Tags.all %}
    <li>{{tag.Tag}}</li>
    {% endfor %}
</ul>
<p>Images:</p>
<ul>
    {% for ima in object.Images.all %}
    <li><img src="{% static ima.Image.url %}" alt="Imagen"></li>
    {% endfor %}
</ul>


<!-- sep     -->
{% endif %}
<!-- sep     -->

{% endblock %}