{% extends 'base/view.html' %}
{% load static %}

{% block first %}   
    <h1 class="title-single">Producto</h1>
{% endblock first %} 

{% block images %}
    {% if object.Tags.all %}
        {% for img in object.Tags.all %}
        <li><img src="{% static img.Image.url %}"  class="agent-avatar img-fluid" alt="Imagen"></li>
        {% endfor %}
        {% else %}
        <h1>No images</h1>
    {% endif %}
{%endblock images%}

{%block init%}
    <h3 class="title-d">{{object.Name}} </h3>
{%endblock init%}

{%block descripcion%}
    {{object.Description}}
{%endblock descripcion%}

{%block features%}
<p>
    <strong>Store: </strong>
    <a class="color-text-a" href="{% url 'store:store_view' object.Store.id %}"> {{object.Store.Name}}</a>
    <!-- <span class="color-text-a">{{object.Store.Name}} </span> -->
</p>
<p>
    <strong>Store amount: </strong>
    <span class="color-text-a"> {{object.Store_Amount}}</span>
</p>
<ul>
    {%if object.Tags.all%}
        <p>
            <strong>Tags:</strong>
        </p>
        {% for tag in object.Tags.all %}
        <li>{{tag.Tag}}</li>
        {% endfor %}
    {%else%}
    {%endif%}
</ul>

{%endblock features%}

{% block button%}
<div class="btn-group">
    <a class="btn btn-outline-success" href="{% url 'product:product_update' object.id %}">Update</a>
    <a class="btn btn-outline-dark" href="{% url 'product:product_delete' object.id %}">Delete</a>
</div>
{% endblock button%}