{% extends "base/base.html" %}
{% load static %}

{% block style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/chat_style.css' %}" rel="stylesheet">
{% endblock style %}

{%block init_section%}
{% endblock init_section %}

{%block body%}
<div class = "top"> 
<div class="container app">
    <div class="row app-one ">
        <div class="col-sm-4 si/chat/16/de">
            <!--lado izquierdo-->
            <div class="side-one">
                <!-- chats anteriores-->
                <div class="row heading">
                    <div class="col-sm-3 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="{% static 'img/desconocida.jpg' %}">
                        </div>
                    </div>
                </div>

                
                <!--buscar usuario en lista-->
                <div class="row searchBox">
                    <div class="col-sm-12 ">
                        <div class="form-group has-feedback">
                            {% if user_searcher %}
                            <form method="post" class = "row" >
                                {% csrf_token %}
                                {{user_searcher.as_p}}
                                <button type="submit" class="btn " name="user_searcher">
                                    <i class="fa fa-search fa-2x "></i>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <!--usuario  en la lista de chats-->
               <div class="row sideBar">
                    <div class="row sideBar-body ">
                        <div class="col-sm-9 col-xs-9 sideBar-main top-search">
                            {%for object in object_list%}
                            <br>
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                    <span class="name-meta">
                                        {% ifequal user.username object.receiver_user.username  %}
                                        <a href="{% url 'chat:chat_list' object.sender_user.id %}">{{object.sender_user.username}}</a>
                                        {% else %}
                                        {% ifequal user.username object.sender_user.username %}
                                        <a href="{% url 'chat:chat_list' object.receiver_user.id %}">{{object.receiver_user.username}}</a>
                                        {% endifequal %}
                                        {% endifequal %}
                                    </span>
                                </div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                    <span class="time-meta pull-right">{{object.Date}}
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-8 conversation">
            <div class="row heading">
                <div class="col-sm-1 col-md-1 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="{% static 'img/desconocida.jpg' %}">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 heading-name">
                    <a class="heading-name-meta">{{chat_user.username}}<!--usuario con el que se esta chateando-->
                    </a>
                    <span class="heading-online">Online</span>
                </div>
            </div>

            {% if user_conversation %}
            <div class="row message" id="conversation">
                <div class="row message-previous">
                    <div class="col-sm-12 previous">
                        <a onclick="previous(this)" id="ankitjain28" name="20">
                            Show Previous Message!
                        </a>
                    </div>
                </div>
                {% for chat in user_conversation reversed%}
                    {% ifequal chat.sender_user.username  user.username%}
                        <!-- mensaje derecha-->
                        <div class="row message-body">
                            <div class="col-12 message-main-sender">
                                <div class="sender">
                                    <div class="message-text">
                                        {{chat.Message|linebreaksbr}}
                                    </div>
                                    <span class="message-time pull-right">
                                        {{chat.Date}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {%else%}
                        <!-- mensaje izquierda-->
                        <div class="row message-body">
                            <div class="col-sm-12 message-main-receiver">
                                <div class="receiver">
                                    <div class="message-text">
                                        {{chat.Message|linebreaksbr}}
                                    </div>
                                    <span class="message-time pull-right">
                                        {{chat.Date}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                {%endfor%}
        </div>
        {%endif%}

        {%if send_form %}
        {%if recv%}
        <form action="{% url 'chat:chat_create' recv %}" method="post" class="message-space row">
            {% csrf_token %}
            {{send_form.as_p}}
            <button type="submit" class="btn" name="send" >
                <i class="fa fa-send fa-2x  send-button"></i>
            </button>
        </form>
        {% endif %}
        {% endif %}
        
    </div>
    </div>
     
</div>
</div>
{%endblock body%}

