{% extends "base/list.html" %} 

{%block search_collapse%}
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" method="post">
            {% csrf_token %}
            <div class="title-box-d">
                <h3 class="title-d">Search Auction</h3>
            </div>
            <table>
                <br>
                {{filter.form.as_table}}
                <br>
            </table>
            <div class="title-box-d">
                <h3 class="title-d">Order Auctions</h3>
            </div>
            <table>
                {{ order.as_table }}
            </table>
            {% if form1 %}
            <table>
                {{form1.as_table}}
            </table>
            {% endif %}
            <input type="submit" value="Update and Export Data" name="export" class="col-md-12">
            <button class="btn btn-secondary col-md-12" type="submit">Update</button>
        </form>
    </div>

</div>
<!--/ Form Search End /-->
{%endblock search_collapse%}

{%block search%}
<button type="button" class="btn navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
    data-target="#navbarTogglerDemo01" aria-expanded="false">
    <span class="fa fa-search" aria-hidden="false"></span>
</button>
{%endblock search%}

{% block header %}
<section class = "intro-single">
    <div class = "container">
        <h1 >Your Accounts </h1>
    </div>
</section>
{% endblock header %} 

{%block init_section%}
{%endblock init_section%}

{% block  btn_add %}
<a class="btn large" href="{% url 'buy:bankaccount_create' %}">Create bank account</a>
<br>
<br>
{% endblock btn_add %}

{% block table_head %}
<td>Owner</td>
<td>Account Number</td>
<td></td>
{% endblock table_head %}
{% block table_row %}
<td>{{object.MyUser.username}}</td>
<td>{{object.Account}}</td>
<td>
    <a class="btn btn-outline-success" href="{% url 'buy:bankaccount_update' object.id %}">Update</a>
</td>
<td>
    <a class="btn btn-outline-dark" href="{% url 'buy:bankaccount_delete' object.id%}">Delete</a>
</td>
{% endblock table_row %}

{% block else_message %}
<div class = "container">
    <h1>No Bank Accounts</h1>
</div>
{% endblock else_message %}

