{% extends "base/base.html" %}
{% block header %}
<!--/ Carousel Star /-->
<div class="intro intro-carousel">
  <div id="carousel" class="owl-carousel owl-theme">
    <div class="carousel-item-a intro-item bg-image  green_grass bg-image">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <h1 class="intro-title-gray mb-4">
                    Welcome to CubaSells
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel end /-->
{% endblock header %}

{% block body %}
<!--/ Services Star /-->
<section class="section-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico align">
              <span class="fa fa-shopping-basket"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Stores</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Create your own shop with all your products and offers
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'store:store_list' %}" class="link-c link-icon">See more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-handshake-o"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Auction</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Auction your products.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'auction:auction_list' %}" class="link-c link-icon">See more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-tags"></span>
            </div>
            <div class="card-title-c align-self-center">
                <h2 class="title-c">Offers</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              See the selling offers of the site.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'offer:offer_list' %}" class="link-c link-icon">See more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--/ Services End /-->
{% endblock body %}