<form method="POST" action="{% url 'store:test' store_id %}">
    {% csrf_token %}
    <h1>Create Offer</h1>
    {{offer_msg}}
    {{form1.as_p}}
    <input type="submit" value="Add offer" name="_save_offer">
</form>
<form method="POST" action="{% url 'store:test' store_id %}">
    {% csrf_token %}
    <h1>Create Suboffer</h1>
    {{suboffer_msg}}
    {{form2.as_p}}
    <input type="submit" value="Add suboffer" name="_save_suboffer_new">
</form>
<!-- <form method="POST" action="{% url 'store:test' store_id %}">
    {% csrf_token %}
    <h1>Create Product</h1>
    {{product_msg}}
    {{form3.as_p}}
    <input type="submit" value="Add product" name="_save_product">
</form> -->
<form method="POST" action="{% url 'store:test' store_id %}">
    {% csrf_token %}
    <h1>Create Product</h1>
    {{product_msg}}
    {{form4.as_p}}
    <input type="submit" value="Add suboffer" name="_save_suboffer_old">
</form>
