{% extends "base/base.html" %} {% block header %}
<h1>Store List</h1>
{% endblock header %} 
{% block body %} 
<h1>Store List Body</h1>
{% if object_list %}
<ul>
    {% for store in object_list %}
    <li>
        <a href="{% url 'cubasells:store_view' store.id %}">{{store.Name}}</a>
        <!-- sep -->
        {% ifequal user.id store.Owner.id %}
        <a href="{% url 'cubasells:store_product_create' store.id %}">Add Product</a>
        <a href="{% url 'cubasells:store_offer_create' store.id %}">Add Offer</a>
        <a href="{% url 'cubasells:store_suboffer_create' store.id %}">Add Suboffer</a>
        {% endifequal %}
    </li>
    {% endfor %} 
</ul>
{% else %}
<h1>No Stores</h1>
{% endif %}
<a href="{% url 'cubasells:store_create' %}">Create Store</a> {%endblock%}