{% extends "base/base.html" %} {% block header %}
<h1>Current Store Index</h1>
{% endblock header %} {% block body %}
<h1>Current Store Index Body</h1>
{% if store %}
<p>Name: {{store.Name}}</p>
{% else %} 
{% for error in errors %}
<h1>{{error}}</h1>
{% endfor %} {% endif %}
<ul>
    <p>Tags:</p>
    {% if store.Tags %} {% for tag in store.Tags.all %}
    <li>{{ tag }}</li>
    {% endfor %} {% else %}
    <h1>No tags</h1>
    {% endif %}
</ul>
<ul>
    <p>Images:</p>
    {% if store.Images %} {% for tag in store.Images.all %}
    <li><img src="/{{ tag.Image.name }}" alt="Imagen"></li>
    <p>{{ tag.Image.name }}</p> {% endfor %} {% else %}
    <h1>No images</h1>
    {% endif %}
</ul>
<p><a href="{% url 'cubasells:store_product_list' store.id %}">See Products</a></p>
{% ifequal user.id store.Owner.id %}
<a href="{% url 'cubasells:store_product_create' store.id %}">Add Product</a>
<a href="{% url 'cubasells:store_offer_create' store.id %}">Add Offer</a>
<a href="{% url 'cubasells:store_suboffer_create' store.id %}">Add Suboffer</a>
<br>
<a class="btn btn-danger" href="{% url 'cubasells:store_delete' store.id %}">Delete</a>
<a class="btn btn-primary" href="{% url 'cubasells:store_update' store.id %}">Update</a>
<!-- sep     -->
{% endifequal %}
<!-- sep     -->
{%endblock%}