{% extends 'base/view.html' %}
{% load static %}

{% block first %}
<h1 class="title-single">Store</h1>
{% endblock first %}

{% block images %}
{% if store.Images.all %}
{% for img in store.Images.all %}
<li><img src="{% static img.Image.url %}" class="agent-avatar img-fluid" alt="Imagen"></li>
{% endfor %}
{% else %}
    <h2>No images</h2>
{% endif %}
{%endblock images%}

{%block init%}
    <h3 class="title-d">{{store.Name}} </h3>
{%endblock init%}


{% block descripcion %}
    {{store.Description}}
{% endblock descripcion %}

{%block features%}
<ul>
    {%if store.Tags.all%}
    <p>
        <strong>Tags:</strong>
    </p>
    {% for tag in store.Tags.all %}
    <li>{{tag.Tag}}</li>
    {% endfor %}
    {%else%}
    {%endif%}
</ul>
{%endblock features%}

{% block button%}
<div class="btn-group" style = "display:ruby-base-container;">
    <a class="btn btn-outline-success" href="{% url 'store:store_product_list' store.id %}">See Products</a>
    <a class="btn btn-outline-success" href="{% url 'store:store_offer_list' store.id %}">See Offers</a>
    {% ifequal user.id store.Owner.id %}
    <a class="btn btn-outline-success" href="{% url 'store:store_suboffer_list' store.id %}">See Suboffers</a>
    {%endifequal%}
    <a class="btn btn-outline-success" href="{% url 'store:store_auction_list' store.id %}">See Auctions</a>
</div>
<br>
<br>
{% ifequal user.id store.Owner.id %}
    <div class = "btn-group" style = "display:ruby-base-container;  " >
        <a class = "btn btn-outline-dark" href="{% url 'store:store_product_create' store.id %}">Add Product</a>
        <a class = "btn btn-outline-dark" href="{% url 'store:store_offer_create_user' store.id %}">Add Offer</a>
        <a class = "btn btn-outline-dark" href="{% url 'store:store_suboffer_create' store.id %}">Add Suboffer</a>
        <a class = "btn btn-outline-dark" href="{% url 'store:store_auction_create' object.id %}">Add Auction</a>  
    </div>
    <br>
    <br>
    <div class ="container" style = "padding-left: 40%">
        <div class="btn-group">
            <a class="btn btn-outline-success" href="{% url 'store:store_update' store.id %}">Update</a>
            <a class="btn btn-outline-dark" href="{% url 'store:store_delete' store.id %}">Delete</a>
        </div>
    </div>
{%endifequal%}
{% ifnotequal store.Owner.id user.id %}
    <div>
        <a class = "btn btn-outline-dark" href="{% url 'chat:chat_list' store.Owner.id %}"> Contact owner </a>
    </div>
{% endifnotequal %}
{% endblock button%}