{% extends "base/list.html" %} 
{% block header %}
<h1>Tag List</h1>
{% endblock header %} 
{% block table_head %}
<th>Name</th>
<th></th>
<th></th>
{% endblock table_head %}
{% block table_row %}
<td>{{object.Tag}}</td>
<td>
    <a href="{% url 'cubasells:tag_view' object.id %}">More Info</a>
</td>
{% endblock table_row %}
{% block else_message %}
<h1>No Tags</h1>
{% endblock else_message %}
{% block order_filter_forms %}
<table>
    {{ order.as_table }}
</table>
<table>
    {{filter.form.as_table}}
</table>
{% endblock order_filter_forms %}
