{% extends "base/list.html" %} 
{% block header %}
<h1>Account List</h1>
{% endblock header %} 
{% block table_head %}
<th>Name</th>
<th>Number</th>
<th>Money</th>
<th>Password</th>
<th></th>
{% endblock table_head %}
{% block table_row %}
<td>{{object.Name}}</td>
<td>{{object.Number}}</td>
<td>
    {{object.Money}}
</td>
<td>
    {{object.Password}}
</td>
<td>
    <a class="btn btn-danger"  href="{% url 'bank:delete' object.id %}">Delete</a >
</td>
<td>
    <a class="btn btn-primary" href="{% url 'bank:update' object.id %}">Update</a>
</td>
{% endblock table_row %}
{% block extra_body %}
<a class="btn btn-primary" href="{% url 'bank:create' %}">Create new account</a>
{% endblock extra_body %}
{% block else_message %}
<h1>No Accounts</h1>
{% endblock else_message %}
